.App {
  text-align: center;
}

.add-group > input,
.add-child > input,
.delete-edit-group > input {
  display: inline-block;
  margin: 10px;
  width: 180px;
}

.group-list {
  width: 500px;
  margin: 0 auto;
}

.block {
  display: block !important;
}
